# Python
venv
/venv
venv/
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
*.egg

# Django
backend/staticfiles/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env (keep template, ignore actual secrets)
.env.local
.env.production
